@model IEnumerable<SmallBussinessMS.Models.Supplier>

@{
    ViewBag.Title = "ShowSuppliers";
}

<h2>ShowSuppliers</h2>
@using (Html.BeginForm("ShowSuppliers", "Suppliers", FormMethod.Get))
{
    @Html.TextBox("search")<input type="submit" value="Search" />

}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2>Product List</h2>
        <table class="table table-bordered table-striped table-responsive">

            <tr>
                <th>Sl</th>
                <th>Code</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Contact Person</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            @{ int i = 1; }

            @foreach (var data in Model)
            {
                <tr>
                    <td>
                        <label>@i</label>
                        @{ i++; }
                    </td>
                    <td>@data.Code</td>
                    <td>@data.Name</td>
                    <td>@data.Address</td>
                    <td>@data.Email</td>
                    <td>@data.Contact</td>
                    <td>@data.ContactPerson</td>

                    <td>
                        @{
                            foreach (var supplierFile in data.SupplierFiles)
                            {
                                var file = Convert.ToBase64String(supplierFile.File);
                                var image = string.Format("data:image/gif;base64,{0}", file);
                                <img src="@image" width="100" height="100" />
                            }
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Update", "Suppliers", new { id = data.Id }, null)
                    </td>
                </tr>
            }
        </table>




    </div>
</div>