@model SmallBussinessMS.Models.Customer

@using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">Customer</div>
            </div>
            <div class="panel-body">

                <div class="form-group row">
                    @Html.LabelFor(c => c.Code, "Code *", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Code, null, new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="form-group row">
                    @Html.LabelFor(c => c.Name, "Customer Name *", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Name, null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(c => c.Address, "Customer Address *", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Address, null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(c => c.Email, "Customer Email *", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Email, null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(c => c.Contact, "Customer Contact *", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Contact, null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(c => c.LoyalityPoint, "LoyalityPoint *", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.LoyalityPoint, null, new { @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

        <input type="file" name="UploadFiles" class="btn btn-primary" multiple /><br />

        <hr />
    <div class="col-md-4 col-md-offset-4">
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
    <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-success">@Html.ActionLink("Show Customers","ShowCustomers")</button>
    </div>
    
   
}
